<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="KCI_UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <connectionStrings>
		<add name="kci" connectionString="server=localhost;database=kci;uid=root;"/>
	</connectionStrings>
 <userSettings>
  <KCI_UI.Properties.Settings>
   <setting name="ProductToInstall" serializeAs="String">
    <value>none</value>
   </setting>
   <setting name="KeepKasperskyConfig" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="OfflineSetup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DoNotUseDatabaseLicenses" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="KasperskySecureConnection" serializeAs="String">
    <value>False</value>
   </setting>
  </KCI_UI.Properties.Settings>
 </userSettings>
</configuration>